[run]
source = src/
branch = true
command_line = -m unittest discover

[report]
fail_under = 100
show_missing = True
skip_covered = False
exclude_lines =
    if TYPE_CHECKING:
    if __name__ == ['"]__main__['"]:
    if sys.version_info.+:
